ul {list-style: none;}

.container{
    width: 100%;
    height: 300px;
    border: 2px solid #ececec;
    padding: 0;
    margin: 0;
     font-family: 'Roboto Condensed', sans-serif;
   
}

.forecastDisplay{
   overflow: hidden;
    height: 250px;
    text-align: center;
    padding: 0;
    margin: 5px 0 0 0;
    
}

.forecastDisplay li{
    display: inline-block;
    height: 80%;
    width: 18.5%;
    border: 1px solid #ebebeb;
    margin: 0 2px;
    
}

.day{
    position: bottom;
    width: 100%;
    height: 30px;
    font-size: 18px;
    line-height: 30px; 
}

.imageDisplay{
    height: 100%;
    text-align: center;
    margin: auto auto;
}

.imageDisplay img{
    height: 50%;
    width: auto;
}

.info{
    margin-bottom: 15px;
    padding-top: 5px;
}

.workInfo{
    font-size: 12px;
    margin: 5px 0; 
   font-family: 'Roboto Condensed', sans-serif;
}

.header{
    width: 100%;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    text-align: center;
    background: #2f3639;
    color: #ebebeb;
}

.cityOption{
    float: right;
    margin: 12px 15px;
    height: 25px;
    width: 100px;    
    align-self: auto;
    line-height: 50px;
    border: none;
    border-radius: 1px;
    background: seagreen;
    color:#fff;
}


/************ Staff **************/
.sendNotification{
   line-height: 15px;
   margin: 10px 5px;
   float: right;
   border: none;
   background: transparent;
   cursor: pointer;
   display: inline-block;
   background-color: #ececec;
   border-radius: 1px;
   padding: 15px;
}

.staffHeader{
   border: 1px solid #ebebeb;
   margin: 25px 0;
   height: 60px;
}

.staffHeader h3{
    width: 50%;
    display: inline-block;
    font-size: 14px;
    line-height: 30px;
    padding: 0 5px;
}

.percentageAffected{
    width: 50%;
    float: left;
    text-align: center;
    font-size: 20px;
    border-left: 1px solid lightgrey;
    padding: 0;
    margin: 0;
    color: green;
}


.affectedCount{
     width: 45%;
    float: left;
     font-size: 14px;
     text-align: center;
   

}


.noData{
    text-align: center;
    padding: 5%;
}




/************* TABLES **************/
.cell-table{width:100%; height:450px; background:#FFF; position:relative;}
table{position:relative; width:100%;padding:10px; border-collapse: collapse; border-spacing: 0;	 color:#2f3639; }
table td, table th{ height:30px; padding:10px; margin:20px; vertical-align:middle; text-indent:2px;} 
table th {background:#29a5b1; color: #fff; font: 400 14px/16px 'Oswald', sans-serif; margin: 0;	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2); text-align:left;}
table td {background: #ededed; height:20px; vertical-align: bottom; border:1px solid #e0e0e0; font:13px/13px 'Open Sans', sans-serif ; }	
table tfoot{position:absolute; bottom:0;}



table a {color:#000}

tr:nth-child(even) td {	background: #f7f7f8;} 			

tr:nth-child(odd) td {background: #F6FCFC;	}  


